# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\OneDrive - 5TB\Khai Phá Tri Thức\Final\Vietnamese-Social-Media-Emotion-Corpus\Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
